<div class="backdrop-blur-[2px]">
  <img [src]="imageUrl" class="rounded-lg">

  <div class="flex flex-col gap-2 py-4">
    <h2 class="font-normal text-lg">{{ title }}</h2>
    <h2 class="font-light text-md">{{ headline }}</h2>
    <p class="font-extralight text-sm">{{ description }}</p>
    <h2 class="font-extralight text-sm">{{ linkUrl }}</h2>

    <span class="flex gap-4 mt-4">
      @for (icon of Technologies; track icon) {
        <ng-icon [svg]="icon" size="20" strokeWidth="2" class="cursor-pointer" />
      }
    </span>
  </div>
</div>
