<body class="flex flex-col min-h-screen font-['IBM Plex Sans']">

  <div class="grow flex items-center justify-center">
    <span class="grid gap-2">
      <h1 class="text-center text-3xl font-extralight">
        My name is "<strong class="text-4xl">Enrique</strong>"
      </h1>
      <p class="text-center font-extralight">Systems Engineer</p>
    </span>
  </div>

  <footer class="flex gap-8 justify-center items-center p-8">

    <a class="flex gap-2 items-center font-light" [href]="cv.basics.profiles[0].url">
      <img class="w-3 h-auto aspect-square" src="{{cv.basics.profiles[0].icon}}" alt="{{cv.basics.profiles[0].network}}" />
      {{cv.basics.profiles[0].network}}
    </a>

    <a class="flex gap-2 items-center font-light" [href]="cv.basics.profiles[1].url">
      <img class="w-3 h-auto aspect-square" src="{{cv.basics.profiles[1].icon}}" alt="{{cv.basics.profiles[1].network}}" />
      {{cv.basics.profiles[1].network}}
    </a>

    <a class="flex gap-2 items-center font-light" [href]="'mailto:' + cv.basics.email">
      <ng-icon [svg]="icons.tablerMail" size="14" strokeWidth="2" class="cursor-pointer" />
      Contact me
    </a>

  </footer>
</body>
