<main class="flex min-h-screen items-center self-center py-12 font-['IBM Plex Sans'] text-justify">
  <span class="flex items-start gap-8">

    <article #LEFT_SIDE class="grid gap-6">
      <section #ABOUTME>
        <h2 class="text-lg font-normal mb-2 ">About Me</h2>
        <p class="font-extralight text-sm">{{cv.basics.summary}}</p>
      </section>

      <section #EDUCATION>
        <h2 class="text-lg font-normal mb-2 ">Education</h2>
        @for (item of cv.education; track $index) {
        <div class="mb-4">
          <h3 class="text-sm font-extralight">{{item.area}}</h3>
          <p class="text-gray-600 text-sm font-extralight">{{item.endDate}}  -  {{item.institution }}</p>
        </div>
        }
      </section>

      <div #PROJECTS class="grid gap-2">
        <h2 class="text-lg font-normal mb-2"> Projects </h2>
        @for (item of cv.projects; track $index) {
        <div class="grid mb-4">
          <h3 class="text-sm font-normal">{{item.name}}</h3>
          <span class="text-sm font-extralight">
            <p class="font-extralight">{{item.description}}</p>
            <p class="pt-2 text-[12px] font-extralight">Technologies: {{item.highlights[0]}}</p>
          </span>
        </div>
        }
      </div>

    </article>


    <article #RIGHT_SIDE class="grid gap-6">

      <section #WORK_EXPERIENCE class="grid gap-2">
        <h2 class="text-lg font-normal mb-2">Work experience </h2>
        @for (item of cv.work; track $index) {
        <div class="grid mb-4">
          <h3 class="text-sm font-normal">{{item.name}}</h3>
          <p class="text-gray-600 text-sm font-light">{{item.company}} | {{item.startDate}}</p>
          <span class="text-sm font-extralight">
            <p class="font-extralight">{{item.summary}}</p>
            <p class="pt-2 text-[12px] font-extralight">Technologies: {{item.highlights[0]}}</p>
          </span>
        </div>
        }
      </section>


      <section #SKILLS>
        <h2 class="text-lg font-normal mb-2 ">Competencies</h2>
        @for (item of cv.skills; track $index) {
        <div class="mb-4">
          <h3 class="text-sm font-extralight "> {{item.name}} </h3>
          <p class="text-sm font-extralight ">{{ item.keywords.join(', ') }}</p>
        </div>
        }
      </section>

    </article>


  </span>
</main>
