@import "tailwindcss";

@theme {
    --font-switzer: "Switzer", sans-serif;
    --font-tangerine: "Tangerine", sans-serif;
    --font-sans-flex: "Google Sans Flex", sans-serif;
    --bg: "#F1F0EA";
}

p.font-switzer {
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    line-height: 0.85; /* fallback para navegadores sin soporte */
}

.no-scrollbar {
    /* Firefox */
    scrollbar-width: none;

    /* Internet Explorer and Legacy Edge */
    -ms-overflow-style: none;
}

/* Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* ─── Cursor text effect (developer blinking input) ─────────── */

@keyframes cursorBlink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.text-cursor::after {
    content: "|";
    display: inline-block;
    margin-left: 2px;
    animation: cursorBlink 1s step-end infinite;
    font-weight: 100;
    opacity: 0.6;
}
