<main class="flex w-fit items-start self-center mb-20 font-['IBM Plex Sans'] text-justify backdrop-blur-[2px]">
  <span class="flex flex-col items-start gap-8">

    <!-- EXPERIENCE TIMELINE -->
    @if (cv.cv | async; as cvData) {
    <h1 class="font-extralight text-4xl">Experience</h1>

    <ol class="relative border-s border-[#d0d0d0] font-extralight text-sm">

      <li class="mb-5 ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-white rounded-full -inset-s-3 ring-0 ring-buffer">
          <ng-icon [svg]="icons.tablerBriefcase" size="20" strokeWidth="2" class="cursor-pointer" />
        </span>
        <time class=" text-heading text-xs font-medium px-1.5 py-0.5 rounded">{{ cvData.sections.experience[1].start_date}} - {{ cvData.sections.experience[1].end_date}} </time>
        <h3 class="flex items-center mb-1 text-lg font-light text-heading my-2">{{ cvData.sections.experience[1].position}} - {{ cvData.sections.experience[1].company}} </h3>
        <p class="mb-4 text-body font-light">{{ cvData.sections.experience[1].summary}}</p>
        <p class="mb-4 text-body w-[80ch]">{{ cvData.sections.experience[1].highlights[0]}}</p>
      </li>

      <li class="mb-10 ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-white rounded-full -inset-s-3 ring-0 ring-buffer">
          <ng-icon [svg]="icons.tablerBriefcase" size="20" strokeWidth="2" class="cursor-pointer" />
        </span>
        <time class=" text-heading text-xs font-medium px-1.5 py-0.5 rounded">{{ cvData.sections.experience[0].start_date}} - {{ cvData.sections.experience[0].end_date}} </time>
        <h3 class="flex items-center mb-1 text-lg font-light text-heading my-2">{{ cvData.sections.experience[0].position}} - {{ cvData.sections.experience[0].company}} </h3>
        <p class="mb-4 text-body font-light">{{ cvData.sections.experience[0].summary}}</p>
        <p class="mb-4 text-body w-[80ch]">{{ cvData.sections.experience[0].highlights[0]}}</p>
      </li>

    </ol>
    }

  </span>
</main>


