<main #SHOP class="grid items-center justify-center min-h-screen pt-20 gap-8  font-['IBM Plex Sans']">

  <!--<div #CARD class="flex gap-4 max-w-100 h-fit font-['IBM Plex Sans']">
    <img #LEFTSIDE
      class="w-22 h-22 aspect-square"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSy4qAGyBnYcRVCL2uYyOYnINEDdQZLjS2Nzw&s"
    />
    <span #RIGHTSIDE class="flex flex-col justify-between ">
      <div #TOPINFO>
        <h1 class="font-light">Paddle Wallpaper pack</h1>
        <div #RESOLUTIONS class="flex gap-2 text-[10px]">
          <h2 class="p-1 bg-stone-100">6016 × 3384</h2>
          <h2 class="p-1 bg-stone-100">7896 × 3384</h2>
          <h2 class="p-1 bg-stone-100">1563 × 3384</h2>
        </div>
      </div>
      <div #BOTTOMINFO class="">
        <p class="font-extralight">$4.99 usd</p>
        <a class="font-extralight text-md cursor-pointer">Preview</a>
      </div>
    </span>
  </div>-->

  <p class="text-center font-extralight text-2xl">Coming <span class="font-light">soon </span> </p>

  <!--<div #EMPTYCARD class="flex gap-4 max-w-100 h-fit font-['IBM Plex Sans']">
    <div #LEFTSIDE class="bg-gray-200 w-22 h-22 aspect-square text-center content-center " >+</div>
    <span #RIGHTSIDE class="flex flex-col justify-between ">
      <div #TOPINFO class="grid justify-start">
        <h1 class="font-light">New stuff soon!</h1>
        <div #RESOLUTIONS class="flex gap-2 text-[10px]">
          <p class="p-1 bg-stone-100">please stand by</p>
        </div>
      </div>
      <div #BOTTOMINFO class="">
        <a class="font-extralight text-md cursor-pointer">Locked</a>
      </div>
    </span>
  </div>-->

</main>
