/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import "tailwindcss-primeui";

body{
  /*background-color: #f1f1f1;*/
  /*font-family: "Archivo Black", sans-serif;*/
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;


}
