/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@theme {
  --transition-property-radius: border-radius;
}

@utility rounded-animated {
  border-radius: 0px;
  transition: all 250ms ease-in-out;
}

body{
  /*background-color: #f1f1f1;*/
  /*font-family: "Archivo Black", sans-serif;*/
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;


}
